page-home {
	.addExpenseButton{
		color: #23d19f;
	}

	.mainMenuNavButton{
		float: right;
		margin-top: -0.5em;
		margin-right: -0.5em;

		.menuIcon{
			color: #23d19f;
		}
	}

	#currentBudget{
		font-size: 65px;
	}

	.expensesList{
		margin-top: 1em;

		.itemEditButton{
			color: #ddd;
			margin-left: -1.2em;
		}
	}
}
